KC_DB=postgres

KC_DB_URL_HOST=sisgha-endpoint-db
KC_DB_URL_PORT=5432
KC_DB_URL_DATABASE=sisgha

KC_DB_SCHEMA=keycloak
KC_DB_USERNAME=postgres
KC_DB_PASSWORD=aab885d4aa7d401bb1bd0cafc1888bad

# KC_PROXY=edge
# KC_HOSTNAME_URL=https://TARGET
# KC_HOSTNAME_STRICT=false
# KC_HOSTNAME_STRICT_BACKCHANNEL=true

KEYCLOAK_ADMIN=UnsafePassword
KEYCLOAK_ADMIN_PASSWORD=UnsafePassword